*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #080b0c;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("../assets/assets/img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 80%;
    margin-inline: auto;
}

.navbar{
    padding: 20px 0 24px 0;
    position: fixed;
    width: 100%;
    transition: all .3s ease;
    z-index: 9999;
}

.navbar.scrolling-active{
    background-color: #0050b3;
    padding: 30px 0 30px 0;
}

.navbar .boxnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .boxnavbar .logo h1{
    color: white;
    font-size: 25px;
}

.navbar .boxnavbar .menu{
    display: flex;
    column-gap: 30px;
}

.navbar .boxnavbar .menu li{
    list-style-type: none;
}

.navbar .boxnavbar .menu li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}

.navbar .boxnavbar .menu .active a{
    background-color: #0050b3;
}

.navbar .boxnavbar .menu li a:hover{
    background-color: #0050b3;
    transition: all .2s ease;
}
.menu-bar{
    color: white;
    font-size: 24px;
    display: none;
}

.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.hero .boxhero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero .boxhero .box:nth-child(1) h1{
    color: white;
    font-size: 3vw;
    line-height: 1.3;
    margin-bottom: 20px;
}

.hero .boxhero .box:nth-child(1) p{
    line-height: 2;
    color: white ;
    margin-bottom: 20px;
    font-weight: 250;
}

.hero .boxhero .box:nth-child(1) button {
    width: 180px;
    height: 50px;
    background-color: #0050b3;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero .boxhero .box:nth-child(1) button:hover{
    background-color: #01336f;
    transition: all .3s ease;
}

.hero .boxhero .box:nth-child(2) img{
    width: 100%;
}

.services{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 100px 0 50px 0;
}

.services .boxservices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
}

.services .boxservices .box{
    width: 300px;
    text-align: center;
    color: white;

}

.services .boxservices .box i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #0050b3;
}

.services .boxservices .box h4{
    font-size: 22px;
}
.services .boxservices .box p {
    font-weight: 200;
}

.pantai{
    padding: 50px 0 50px 0;
}

.pantai .boxpantai{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    row-gap: 50px;
}

.pantai .boxpantai .box{
    text-align: center;
    /* justify-content: center; */
    color: white;
    transition: all 0.3s ease;
}

.pantai .boxpantai .box:hover{
    transform: translateY(-20px);
 
}

.pantai .boxpantai .box img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.pantai .boxpantai .box p{
    font-weight: 200;
    margin-bottom: 10px;
}

.pantai .boxpantai .box button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #0050b3;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

.pantai .boxpantai .box button:hover{
    background-color: #01336f;
    transition: all .3s ease;
    cursor: pointer;
}

.daftar{
    padding: 50px 0 100px 0;
}

.daftar .boxdaftar{
    text-align: center;
    color: white;
}


.daftar .boxdaftar h1{
    margin-top: 50px;
}

.daftar .boxdaftar h3{
    font-weight: 400;
    margin-bottom: 50px;
    animation: animasi 2s infinite;
}

@keyframes animasi {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.daftar .boxdaftar button {
    border: none;
    min-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0050b3;
    color: white;
    padding-inline: 10px;
}
.daftar .boxdaftar h1{
    font-size: 50px;

}


.daftar .boxdaftar button i {
    font-size: 20px;
    font-weight: bold;
    margin-inline: 5px;
}

.footer{
    padding: 50px 0 50px 0;
    background-color: #0050b3;
}


.footer .boxfooter{
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    column-gap: 100px;
    align-items: center;
}

.footer .boxfooter .box{
    color: white;
}

.footer .boxfooter .box:nth-child(2){
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer .boxfooter .box:nth-child(2) a {
    text-decoration: none;
    color: white;
    font-weight: 200px;
}

.footer .boxfooter .box p {
    font-weight: 400;
}

.footer .boxfooter .box:nth-child(1) p {
    font-size: 16px;
    line-height: 2;
    margin-top: 10px;
}

.footer .boxfooter .box:nth-child(3) {
    text-align: center;
}

.footer .boxfooter .box:nth-child(3) span {
    font-weight: bold;
}
/* media query */
@media screen and (max-width: 1200px){
    .hero .boxhero .box:nth-child(1) button{
        width: 150px;
    }
}

@media screen and (max-width: 990px){
    /* bug belum tampil */
    .menu-bar{
        display: block; 
    }

    .navbar .boxnavbar .menu{
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 200px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        top: 70px;
        right: 50%;
        transform: translateX(50%);
        opacity: 0;
        transition: all .2s ease;
        background-color: #0050b3;
    }
    .navbar .boxnavbar .menu.menu-active{
        top: 80px;
        opacity: 1;
        border-top: 1px solid white;
    }

    .hero .boxhero .box:nth-child(1) p{
        font-size: 14px;
    }

    .footer .boxfooter{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

@media screen and (max-width: 768px){
    .hero .boxhero{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }

    .hero .boxhero .box:nth-child(1){
        order: 2;
        text-align: center;
    }
    .hero .boxhero .box:nth-child(2){
        order: 1;
        text-align: center;
    }

    .hero .boxhero .box:nth-child(2) img{
        width: 60vw;
    }
}

@media screen and (max-width: 475px){
    .daftar .boxdaftar button{
        margin-bottom: 5px;
    }
    
}

@media screen and (max-width: 575px){
    .boxhero .box:nth-child(1) h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 370px){
    .hero .boxhero .box:nth-child(2) img{
        width: 60vw;
        align-self: flex-end;
        justify-content: center;
        text-align: center;

    }

    .pantai .boxpantai{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

